
nav{
    background-color:purple !important;
}

.daa {
    height: 500px;
}
.prob{
    color:purple !important;
}
.flow-text{
    color: white;
}

.head{
    color:purple !important;
}

   .para{
    text-align: justify !important;
     hyphens: auto;
   }

   * {
    font-family: "Zilla Slab", serif;
    font-weight: 300;
    font-style: normal;
  }

    .fish, b{
       font-size: 15px; 
       font-weight: bold;
   }

   
   li>a:hover{
       color: black;
   }

   .card:hover{
    background-color: rgb(128, 128, 128);
}
   div .hoverable{
       height: 350px !important;
     }
   

   
   #body{
       font-weight: 400;
       font-style: normal;
   }
   
   @media (min-width: 1367px) {
      div .big{
           padding-top: 150px !important; 
           
       }
       div .big p{
           font-size: 17px;
       }
       .head{
           font-size: 35px;
           color:purple;
       }

       
   }
   
   @media (max-width: 1366px){
   
       .head{
           font-size: 30px;
           padding-top: 200px !important; 
           color:purple;
           padding-left:65px;
       }
       div .big p{
           font-size: 20px;
           text-align: center;
       }
       .pa{
        padding-left:60px;
       }
   }
   


   @media only screen and (min-width: 993px) {
    .row .col.push-l2 {
        left:  29.666667%;
    }
}
    